body {
  font-family: serif;
  line-height: 2;
}

.wrapper {
  max-width: 600px;
  padding: 2rem;
}

blockquote {
  position: relative;
  padding: 1rem 3rem 1rem 3rem;
  margin-bottom: 1rem;
}

blockquote::before,
blockquote::after {
  font-size: 6rem;
  font-family: georia, serif;
  color: #ccc;
  position: absolute;
  line-height: 0;
}

blockquote::before {
  content: "\201C";
  top: 2.5rem;
  left: 0;
}

blockquote::after {
  content: "\201D";
  bottom: 0.5rem;
  right: 0;
}
