button {
  font-family: "helvetica neue", Helvetica, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 2px solid rgba(200, 200, 0, 0.6);
  background: rgba(0, 217, 217, 0.6);
  color: rgb(100, 0, 0);
  box-shadow: 1px 1px 2px rgba(0, 0, 200, 0.4);
  border-radius: 10px;
  padding: 3px 10px;
  cursor: pointer;
}
