@charset 'utf-8';

/*
GENERAL STYLING
================================================ */
html {
  font-size: 100%;
}
body {
  color: #555;
  font-family: sans-serif;
}

/*
COMMON
================================================ */
p,
td {
  line-height: 1.7;
}

/* Layout */
.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Buttom */
.btn {
  font-family: "Sawarabi Mincho", sans-serif;
  display: inline-block;
  padding: 1.25rem 3.25rem;
  font-size: 1.375rem;
  text-align: center;
  width: 100%;
}

.btn-primary {
  color: #fff;
  background: #2d3374;
}

.btn-primary:hover {
  background: #3a7edf;
}

.btn-secondary {
  color: #555;
  background: #d0bea2;
}

.btn-secondary:hover {
  background: #d9cebe;
}

/* Heading */
.title {
  font-family: "Sawarabi Mincho", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}
.title::after {
  content: "";
  display: block;
  height: 5px;
  width: 10rem;
  background: #d0bea2;
  margin: 2rem 0 2.5rem;
}
.title-center {
  text-align: center;
}
.title-center::after {
  margin: 2.5rem auto;
}

/*
index
================================================ */
/* Home Hero */
.home-hero {
  background: url(../images/bg-hero.jpg) no-repeat right top / 70vw auto;
  padding: 5.5rem 1rem 3rem;
}

.home-hero h2 {
  font-family: "Sawarabi Mincho", sans-serif;
  font-size: 1.5rem;
  margin: 8vw 0 12vw;
  background: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  display: inline-block;
}

.home-hero p {
  font-size: 1.125rem;
  margin-bottom: 2rem;
}

/* Contents */
.brown-bg {
  background: #f8f6f2;
}
.content {
  padding: 4rem 1rem;
}
.home-text {
  margin-bottom: 2rem;
}
.home-chart {
  margin-left: 2vw;
}
.flex-reverse .home-chart {
  margin: 0 2vw 0 0;
}
.home-chart img {
  width: 100%;
}
.home-chart p {
  text-align: center;
}

/* Graph */
/* グラフの文字 */
.ct-label {
  font-size: 1rem;
  fill: #fff;
}

/* 円グラフ */
.ct-series-a .ct-slice-pie {
  fill: #2d3374;
}

.ct-series-b .ct-slice-pie {
  fill: #3a7edf;
}

.ct-series-c .ct-slice-pie {
  fill: #9bcbf8;
}

.ct-series-d .ct-slice-pie {
  fill: #bbb;
}

/* 棒グラフ */
.ct-series-a .ct-bar {
  stroke: #3a7edf;
}

.ct-bar {
  stroke-width: 16%;
}

/*
job
================================================ */
/* Table */
table {
  margin: 3.5rem 0;
  width: 100%;
}

th {
  font-weight: normal;
  background: #f8f6f2;
  vertical-align: middle;
  padding: 1rem;
}

td {
  padding: 0.75rem 1rem 1.75rem;
}

th,
td {
  display: block;
}

/* Timeline */
.timeline {
  list-style: decimal inside;
  font-family: "Sawarabi Mincho", sans-serif;
}

.timeline-item {
  margin-bottom: 2rem;
}

.timeline-title {
  font-size: 1.375rem;
  display: inline-block;
  margin-bottom: 1rem;
}

.timeline-content {
  font-family: sans-serif;
}

/*
form
================================================ */
/* input */
input[type="text"],
input[type="email"],
input[type="url"],
select,
textarea {
  border: 1px solid #bbb;
  background: #fff;
  padding: 0.5rem;
  width: 100%;
}

/* placeholder */
input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="url"]::placeholder,
textarea::placeholder {
  color: #bbb;
}

/* --- CHECKBOX --- */
/* checkbox hidden */
input[type="checkbox"] {
  opacity: 0;
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}

/* make checkbox */
input[type="checkbox"] + span::before {
  display: inline-block;
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #bbb;
  background: #fff;
  margin: -0.125rem 0.5rem 0 0;
  vertical-align: middle;
  /* Font Awesome */
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  padding: 0 2px;
  line-height: 1.5;
}

/* return check */
input[type="checkbox"]:checked + span::before {
  content: "\f00c";
}

/* --- SELECTBOX --- */
.select-box {
  position: relative;
}

.select-box::after {
  display: inline-block;
  position: absolute;
  top: 0.625;
  right: 1rem;
  /* Font Awesome */
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f078";
  color: #bbb;
}

/*
DESKTOP SIZE
================================================ */
@media (min-width: 600px) {
  /* Buttom */
  .btn {
    width: auto;
  }

  /*
  index
  ================================================ */
  /* Home Hero */
  .home-hero {
    padding: 16vw 1rem;
  }

  .home-hero h2 {
    font-size: 2.5rem;
    margin: 0 0 2rem;
    background: none;
    padding: 0;
  }

  .home-hero p {
    width: 38vw;
  }

  /* content */
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 1rem;
  }

  .flex-reverse {
    flex-direction: row-reverse;
  }

  .home-text {
    width: 50vw;
    margin-bottom: 0;
  }

  .home-chart {
    width: 34vw;
  }

  /*
  index
  ================================================ */
  /* Table */
  th,
  td {
    padding: 1.25rem;
    display: table-cell;
  }

  tr:nth-child(odd) {
    background: #f8f6f2;
  }

  tr:nth-child(even) th {
    background: #fff;
  }

  /* Timeline */
  .timeline-item {
    display: flex;
    margin-bottom: 0;
  }

  .timeline-title {
    width: 24%;
    padding: 2rem 2.5rem 2rem 0;
    text-align: right;
  }

  .timeline-content {
    border-left: 5px solid #f8f6f2;
    width: 76%;
    padding: 1.5rem 0 1.5rem 2.5rem;
    position: relative; /* ←追加 */
  }

  /* icon */
  .timeline-content::before {
    display: block;
    width: 2.25rem;
    height: 2.25rem;
    background: #d0bea2;
    text-align: center;
    padding: 0.1rem;
    position: absolute;
    top: 1.5rem;
    left: -1.5rem;
    /* Font Awesome */
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: #fff;
    font-size: 1.25rem;
  }

  .icon-file::before {
    content: "\f56e";
  }

  .icon-code::before {
    content: "\f121";
  }

  .icon-chat::before {
    content: "\f086";
  }

  .icon-hands::before {
    content: "\f2b5";
  }
}
