body {
  font-family: sans-serif;
  padding: 2rem 4rem;
}

p {
  margin-bottom: 1rem;
}

img {
  width: 300px;
  height: 300px;
  margin-bottom: 3rem;
  transition: transform 0.5s;
}

.transform1 {
  transform-origin: left top;
}

.transform1:hover {
  transform: rotate(10deg);
}

.transform2 {
  transform-origin: 50px 100px;
}

.transform2:hover {
  transform: rotate(10deg);
}
