@charset 'utf-8';

/*
COLORS
================================================ */
:root {
  --text: #333;
  --bg: #fff;
  --video-opacity: 0.5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #ddd;
    --bg: #000;
    --video-opacity: 0.7;
  }
}

/*
GENERAL STYLING
================================================ */
html {
  font-size: 100%;
}
body {
  color: var(--text);
  background: var(--bg);
  font-family: "Bree Serif", sans-serif;
  transition: 0.5s;
}

/*
COMMON
================================================ */
p {
  line-height: 1.7;
}
img {
  max-width: 100%;
}
a:hover {
  color: #0bd;
}

/*
HEADER
================================================ */
header {
  position: relative;
  margin-bottom: 0.5rem;
}

.header-text {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* add z-index */
  z-index: 2;
  text-align: center;
}

.header-pattern {
  position: absolute;
  z-index: 1;
  background-size: auto auto;
  background-image: repeating-linear-gradient(
    0deg,
    transparent,
    transparent 2px,
    var(--bg) 2px,
    var(--bg) 4px
  );
}

.header-title {
  font-size: 2rem;
}

.header-name {
  font-size: 4rem;
}

.header-link {
  font-size: 1.25rem;
}

header video {
  object-fit: cover;
  object-position: center top;
  opacity: var(--video-opacity);
}

.header-text,
.header-pattern,
header video {
  width: 100vw;
  height: 90vh;
}

/*
GRID
================================================ */
.grid {
  width: 94vw;
  margin: 0 auto 3rem;
  display: grid;
  gap: 2vw;
  grid-template-columns: repeat(2, 46vw);
  grid-template-rows: repeat(8, 46vw);
}

.grid-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: grayscale(100%);
}

.grid-big-top {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.grid-big-bottom {
  grid-column: 1 / 3;
  grid-row: 6 / 7;
}

/*
FOOTER
================================================ */
footer {
  text-align: center;
  padding-bottom: 3rem;
}
.footer-link {
  margin-bottom: 0.5rem;
}

/*
LIGHTBOX LUMINOUS
================================================ */
.lum-lightbox.lum-open {
  z-index: 4;
}

.lum-lightbox-inner img {
  max-width: 120vw;
  max-height: 80vh;
}

.lum-lightbox-inner p {
  font-size: 1.5rem;
}

/*
DESKTOP SIZE
================================================ */
@media (min-width: 600px) {
  /* Grid */
  .grid {
    width: 80vw;
    gap: 1vw;
    grid-template-columns: repeat(3, 26vw);
    /* (80[desktop-size-max = 80%] - 2vw) / 3 */
    grid-template-rows: repeat(5, 26vw);
  }

  .grid-item {
    transition: 0.3s;
  }

  .grid-item:hover {
    filter: grayscale(0);
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
    position: relative;
    z-index: 3;
  }

  .grid-big-bottom {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
  }
}
