body {
  font-family: serif;
  padding: 2rem;
}

.wrapper {
  max-width: 200px;
}

.pagination {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  text-align: center;
}

.pagination a:hover {
  background: #93d8d0;
  color: #fff;
}

.pagination a,
.pagination .current {
  border-radius: 50%;
  padding-top: 4px;
  display: inline-block;
  width: 36px;
  height: 36px;
  margin: 0 6px;
}

.pagination .current {
  background: #ccc;
  color: #fff;
}
