html {
  font-size: 100%;
}

body {
  color: #555;
  font-family: sans-serif;
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin: 1rem 0 3rem;
}

.gallery-img {
  max-width: 300px;
  transition: 0.3s;

  /* 通常時は画像をセピアに */
  filter: sepia(100%);
}

.lum-lightbox.lum-open {
  z-index: 1;
}

.lum-lightbox-inner img {
  max-width: 100vw;
  max-height: 40vh;
  object-fit: cover;
}

/* 画像にカーソルをあわせるとカラーで表示させる */
.gallery-img:hover {
  filter: sepia(0%);

  /* 画像を右に10°傾ける */
  transform: rotate(10deg);
}
